<div>
    {% for category in site.categories %}
    <div class="{{ category | first }} categories" id="{{ category | first }}" style="display: none;">
        <header class="section-title">
            <a style="text-underline:none;color: #000;" href="{{ site.baseurl }}/category?cat={{ category | first }}"><h2>{{ category | first }} | {{ category | last | size }}</h2></a>
        </header>
        <div class="entries">
            {% for post in category.last %}
            {% include entry.html %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<script>
    var cat = getUrlParam("cat");
    if (cat != "") {
        $("." + cat).show();
    } else {
        $(".categories").show();
    }
</script>