<div>
    {% for tags in site.tags %}
    <div class="{{ tags | first }} tags" id="{{ tags | first }}" style="display: none;">
        <header class="section-title">
            <a href="{{ site.baseurl }}/category?tags={{ tags | first }}"><h2>{{ tags | first }} | {{ tags | last | size }}</h2></a>
        </header>
        <div class="entries">
            {% for post in tags.last %}
            {% include entry.html %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<script>
    var tags = getUrlParam("tags");
    if (tags != "") {
        $("." + tags).show();
    } else {
        $(".tags").show();
    }
</script>