{% for post in paginator.posts %}
  {% include entry.html %}
{% endfor %}

<!-- Pagination links -->
<nav class="pager">
  <ul>
    <!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous"><span class="icon icon--arrow-right">{% include icon-arrow-left.svg %}</span> {{ site.data.theme.t.newer | default: 'Newer' }}</a></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ site.data.theme.t.older | default: 'Older' }} <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></li>
    {% endif %}
  </ul>
</nav>
<script>
    var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }';
    var data = JSON.parse(dataStr);
    var curTag = getUrlParam("test");
    var archieves = data[curTag];
    console.log(archieves);
    console.log("testtest post-paginated");
</script>